*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  background-color: black;
}
img{
  width: 30%;
  height: 100vh;
}

.wrapper{
  width: 50vw;
  height: 60vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-shadow: 1px 1px 15px 5px maroon;
  border-radius: 5px;
}

h1{
  font-size: 40px;
  color: maroon;
  margin: 40px 0;
  text-shadow: 1px 1px 5px black;
}
p{
  text-shadow: 1px 1px 5px maroon;
}

button{
  width: 150px;
  height: 40px;
  border: 1px solid maroon;
  border-radius: 5px;
  background-color: maroon;
  cursor: pointer;
  color: white;
  margin: 30px 0;
  box-shadow: 1px 1px 5px black;
  transition: .3s ease;
}
button:hover{
  transform: scale(1.1);
}

.link{
   width: 40vw;
   height: 10vh;
   background-color: gray;
   text-align: center;
   justify-content: center;
   word-break: break-all;
   padding: 5px;
   box-shadow: 1px 1px 15px 5px black;

}

a{
  text-decoration: none;
  color: maroon;
  text-shadow:1px 1px 5px black;
}

@media (max-width:500px) {

  .container{
    background-image: url(banner.jpg);
    background-size: cover;
    height: 100vh;
  }

  .wrapper{
       width: 90vw;
       height: 50vh;
       box-shadow: 1px 1px 15px 5px black;
  }

  img{
    width: 0%;
    height: 0%;
  }

  .link{
    width: 80vw;
    box-shadow: 1px 1px 15px 5px black;
  }
}